<!DOCTYPE html>
<html>
<head>
    <title>Norway Municipalities Game</title>
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="../static/js/scripts.js" defer></script>
</head>
<body>
    <div id="info-box" class="info-box"></div>
    <div class="container">
      <div id="map-id"></div>
    </div>
</body>
</html>