<!DOCTYPE html>
<html>
<head>
    <title>Norway Municipalities Game</title>
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="../static/js/scripts.js" defer></script>
</head>
<body>
    <div id="info-box" class="info-box">
    <button id="start-game-btn">Start Game</button>
    <div class="info-title">Municipality Info</div>
    <img id="municipality-icon" src="" alt="Municipality Icon" style="display: none;">
    <p id="municipality-name" style="display: none;"></p>
    <p>Attempts: <span id="attempt-counter">0</span></p>
    </div>
    <div class="container">
        <div id="map-id"></div>
    </div>
</body>
</html>